.control-box{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:1.4rem;
}

button{
    font-size: 1.4rem;
    border: none;
    border-radius: 1rem;
}

#start_stop{
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    color: white;
}

#reset{
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    color: white;
}